body{
	font-family: Arial, Helvetica, sans-serif;
	background-color: #F7F7F7;
}
#navBar{
	padding: 20px;
}
#btnIndex, #btnAddWorker{
	margin-right: 10px;
}
#addEditTable{
	margin-top: 20px;
}